* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 55px;
  text-align: center;
  line-height: 1.06;
  margin: 20px 0 50px 0;
}
h2 {
  font-size: 32px;
  text-align: center;
  margin: 20px 0 50px 0;
}
h4 {
  font-size: 16px;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin: 0px 0 5px 0;
}
p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 120px;
    margin: 0px 0 50px 0;
}
hr{
    border-top: 1px solid white;
    width: 100%;
    margin-bottom: 20px;
}
.custom-btn {
  color: #fff;
  border-radius: 10px;
  padding: 20px 80px;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  margin: 0 0 30px 0;
}

/* 5 */
.btn-5 {
  width: 250px;
  height: 60px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #e8092d;
}
.btn-5:hover {
  color: #e8092d;
  background: rgba(0, 0, 0, 0.599);
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #e8092d;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
#header {
  background-image: url('assets/background_animated.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
#containerNav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  z-index: 333;
}
#containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 80px;
}
#txtLogo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding: 0 20px;
  z-index: 333;
}

.nav-item {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
  }
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #959595;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}

#btnContact {
  background-color: #e8092d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnContact:hover {
  background-color: #f30d33;
}

#btnContact:active {
  background-color: #f30d33;
}
.nav-item-contact {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
  }
}

#hero {
  display: flex;
  height: 100vh;
  padding-top: 20vh;
}
#astronauts {
  width: 90%;
}
#txtContainerHero {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageContainerHero {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.617);
}
.sections {
  background-image: url('assets/background.svg');
  background-repeat: repeat;
  background-position: center center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rocket{
    position: absolute;
}
#question{
    color:#00D8FE
}
#containerSkills{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.imgSkills{
    margin: 0;
    width:12%;
}
.containerImagesSkills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#comet{
  position: absolute;
}


.mySlides {display: none;width:40vw}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 100vw;
}
.sliderContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgba(160, 160, 160, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.modal{
  z-index: 999 !important;
}
.modalImg {
  cursor: pointer;
  transition: 0.3s;
  width:40vw
}

.modalImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  overflow: hidden;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  z-index: 999;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}



